*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: Arial"Helvetica Neue", Helvetica, Sans-serif;
  font-size: 17px;
  line-height: 1.6;
}
#landingpage{
  background-image: url('../img/pz.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0, 20px;
  text-align: center;

}
#landingpage h1{
  color: white;
}
#landingpage p{
  color:white;
}
#showcase h1{
  font-size: 50 px;
  line-height: 1.2;

}
#showcase p{
  font-size: 20 px;

}
#showcase.button{
  font-size: 18px;
  text-decoration: none;
  color:white;
  border: 1px solid;
  padding: 10px 20 px;
  border-radius: 10px;
  margin-top: 20px;
}
#sectione{
  text-align: center;
}

#sectiontwo{
background-image: url('../img/background2.jpg');
text-align: center;
background-size: cover;
background-position: center;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding-left: 150px;
padding-right: 150px;
padding-top:150px;
padding-bottom:150px;


}
#design{
  text-align: center;
  display: none;
  }

.dev{
  text-align: center;

}￼

.pro{
  text-align: center;
}
#design2{
  display:none;

}
#design3{
  display:none;
}
#sectionthree{
  background-image: url('../img/background3.jpg');
  background-size: cover;
  background-position: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top:150px;
  padding-bottom:150px;

}
#sectiontwo h2{
  color:white;
  text-align: center;

}
#sectiontwo p{
  color:white;
  width: 100%
}
.foot{
  text-align: center;
}
footer{
  text-align: center;
}
.form-control{
background-color: inherit;

}
.carousel-caption{
  display: none;
}
.carousel-caption{
  display: none;
}
.sub{
  text-align: center;
  color: inherit;
}
#sectionthree h1{
  color:white;
  text-align: center;
}
#sectionthree textarea{
  color:white;
}
